<app-nav-bar [isLoggedIn]="isLoggedIn"></app-nav-bar>

<div class="bootstrap-wrapper">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="margin-bottom: 100px;">
                <mat-card>
                    <!-- app logo -->
                    <div class="container">
                        <div class="text-center">
                            <div class="circular_image">
                                <img src="../../../assets/logo.png" alt="no image found" style="height: 100px;">
                            </div>
                        </div>
                    </div>

                    <!-- {{user | json}} -->

                    <!-- Page title -->
                    <h2 class="text-center">
                        <p style="margin-top: 10px;">SignUp</p>
                    </h2>
                    <p class="text-center">Do not have account? Register Here</p>


                    <form (ngSubmit)="formSubmit()">
                        <p style="margin-top: 20px;">
                            <!-- First Name -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input
                                    required 
                                    pattern="[a-zA-Z][a-zA-Z ]+"
                                    [(ngModel)]="user.firstName" name="firstName" matInput
                                    placeholder="Enter First Name">
                                    
                                 <mat-hint>eg: Yash</mat-hint>
                            </mat-form-field>
                        </p>
                        <p class="text-center" style="margin-top: 10px;">
                            <!-- Last Name -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input
                                    required 
                                    pattern="[a-zA-Z][a-zA-Z ]+" 
                                    [(ngModel)]="user.lastName" name="lastName" matInput
                                    placeholder="Enter Last Name">
                                
                                <mat-hint>eg: Technologies</mat-hint>
                            </mat-form-field>
                        </p>
                        <p class="text-center" style="margin-top: 10px;">
                            <!-- Email -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input required [(ngModel)]="user.username" name="email" matInput
                                    placeholder="Enter Email Address">
                                <mat-hint>eg: info@yash.com</mat-hint>
                            </mat-form-field>
                        </p>
                        <p class="text-center" style="margin-top: 10px;">
                            <!-- Password -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input 
                                required
                                minlength="6"
                                maxlength="12"
                                 [(ngModel)]="user.password" name="password" matInput
                                    [type]="showPassword ? 'text' : 'password'" name="password">
                                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                    {{showPassword?'visibility_off':'visibility'}}</mat-icon>
                                <mat-hint>Password Must Be In 6-12 Digits Contains Atleast One Uppercase, One Lowercase, And Numbers(0-9),
                                    One Specail Characters(*$#@!_-)</mat-hint>
                            </mat-form-field>
                        </p>
                        <p class="text-center" style="margin-top: 20px;">
                            <!-- Mobile -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Mobile</mat-label>
                                <input required [(ngModel)]="user.mobile" 
                                name="mobile" 
                                matInput placeholder="Enter mobile number">
                                <mat-hint>Please Enter 10 Digit Mobile Number.
                                    eg: 9876543210 </mat-hint>
                            </mat-form-field>
                        </p>

                        <!-- Register Button -->
                        <button style="margin-top: 10px;" mat-raised-button class="full-width" type="submit"
                            color="primary">Register</button>

                        <p style="margin-bottom: 20px;"> </p>

                    </form>

                </mat-card>
            </div>
        </div>
    </div>
</div>