<!-- rest of the html code goes here -->
<app-nav-bar [isLoggedIn]="isLoggedIn"></app-nav-bar>

<div class="container p-2">
  <div class="row">
    <div class="col-md-12 border border-white">
      <div class="feed p-2">
        <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
          <span></span>
          <!-- Search Box -->
          <div class="col-md-6">
            <div class="d-flex form-inputs">
              <input class="form-control" type="text" placeholder="Search your teamates and colleagues here..."
                style="font-size: 13px;">
              <button mat-button color="primary">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 border border-white">
      <!-- Edit Profile Section -->
      <div class="edit-profile">
        <div class="feed p-2">
          <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
            <div class="feed-text px-2">
              <div class="miniBadge clearfix">
                <a style="position:relative;">
                  <div class="user_image">
                    <img class="center" src='{{user.profile}}' alt="no image found" width="60px"height="60px">
                  </div>
                </a>
                <div *ngIf="user" class="full_name" style="color: #673ab7; margin-top: 5px;">{{user.firstName}} {{
                  user.lastName}} </div>
                <div class="member_title ">Software Engineer</div>
                <div class="edit-profile-link">
                  <button mat-button color="primary" (click)="editProfile()"><a>Edit Profile</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Home Center -->
    <div class="col-md-6 border border-white">
      <div class="feed p-2">
        <!-- Create Post Section -->
        <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
          <div class="feed-text px-2">
            <!-- <h6 class="text-black-50 mt-2">What's on your mind</h6> -->
            <div class="form-group shadow-textarea">
              <textarea [(ngModel)]="post.content" class="form-control z-depth-1" rows="3" name="content"
                placeholder="Share an update with everyone in the #YASH Technologies..."></textarea>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
              <div class="form-group">
              <label for="file">Choose File</label>
              <input type="file" (change)="onFileSelected()" />
                      <!-- $event -->
                     <!-- (change)="handleFileInput($event.target.files)" -->
          </div>
              <span></span>
              <div class="float-sm-right"><button type="button" class="btn" (click)="addPost(post)"> Share </button>
              </div>
            </div>
          </div>
        </div>
        <!-- FEEDS -->
        <div class="bg-white border mt-2" *ngFor="let post of postList">
          <div>
            <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
              <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle"
                src='{{user.profile}}' width="45">
                <div class="d-flex flex-column flex-wrap ml-2" style="padding-left: 10px;">
                  <span class="font-weight-bold">{{post.author.firstName}} {{post.author.lastName}}</span>
                  <span class="text-black-50 time">{{post.dateLastModified}}</span>
                </div>
              </div>
              <!-- more icon -->
              <div class="feed-icon px-2"><button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vertical</mat-icon></button>
                <mat-menu #menu="matMenu"><button mat-menu-item (click)="deletePost(post.id)">Delete</button>
              </mat-menu>
              </div>
            </div>
          </div>
          <div class="p-2 px-3"><span>{{post.content}}</span></div>
          <div class="d-flex justify-content-end socials p-2 py-3">
            <button mat-button color="primary" (click)="toggleLikeUnlike(this.post)">
              <mat-icon matBadge="{{post.likeCount}}" matBadgePosition="before" matBadgeColor="accent">thumb_up</mat-icon>
            </button>
            <button (click)="showComentBx()" mat-button color="primary">
              <mat-icon> add_comment</mat-icon>
            </button>
          </div>
          <!-- Comment box started -->
          <div class="card py-3 p-4 border-0"  style="background-color: #f8f9fa; border-radius: 0%;">
            <!-- Comments list-->
            <div class="card-body d-flex flex-start mt-1" *ngFor="let comments of post.postComments" style="display:inline-flex;">
              <a class="me-2" href="#">
                <img class="rounded-circle shadow-1-strong"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="40"
                  height="40" />
              </a>
              <div class="flex-grow-1 flex-shrink-1" >
                <div>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-1">
                    {{comments.author.firstName}} {{comments.author.lastName}}  <span class="small">- 4 hours ago</span>
                    </p>
                  </div>
                  <p class="small mb-0"> {{comments.content}}</p>
                </div>
              </div>
            </div>
            <!-- your Comment box started -->
            <div *ngIf="showCmtBox"> <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3" src="{{user.profile}}" alt="avatar"
                width="40" height="40" />
              <div class="form-outline w-100">
                <textarea #textArea required [(ngModel)]="textAreaComment" name="comment" class="form-control"
                  id="comment" rows="2" placeholder="Enter your comments"
                  style="background: #fff; font-size: 12px;"></textarea>
              </div>
            </div>
            <!--Your Comment box buttons -->
            <div class="float-sm-right mt-2 pt-1">
              <!-- <button type="button" class="btn" (click)="addPost(post)"> Share </button> -->
              <button type="button" class="btn btn-primary btn-sm" (click)="textAreaEmpty(this.post.id,textAreaComment)"
                style="margin-left: 56px; margin-right: 10px;">Post comment</button>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="reset()">Cancel</button>
            </div></div>
           
          </div>
        </div>
      </div>
    </div>

    <!-- third section -->
    <div class="col-3 border border-white">
      <!-- User List Section -->
      <div class="user-list">
        <div class="feed p-2">
          <div class="d-flex flex-row bg-white border">
            <div>
              <div class="d-flex flex-row justify-content-between align-items-center px-2 py-2 border-bottom" style="position: relative;">
                <span class="font-weight-bold">You may also know</span>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center p-2" *ngFor="let user of updatedList">
                <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle"
                  src='{{user.profile}}' width="30">
                  <div class="d-flex flex-column flex-wrap ml-2" style="padding-left: 5px;">
                    <span class="font-weight-bold" style="font-size: 12px; overflow: hidden;">{{user.firstName}}  {{user.lastName}}
                    </span>  
                  </div>
                </div>
                <div>
                  <div class="float-sm-right" *ngIf="user.follow_status; then unfollowButton else followButton">
                  </div>
                  <ng-template #followButton>
                    <button type="button" (click)="toggleFollowing(user)" class="btn" style="width: 70px;">Follow</button>
                  </ng-template>
                  <ng-template #unfollowButton>
                    <button type="button" (click)="toggleFollowing(user)" class="btn" style="width: 70px;">Unfollow</button>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Next Steps -->
<!-- <h2>Next Steps</h2>
    <p>What do you want to do next with your app?</p> -->

<!-- Resources -->
<!-- <h2>Resources</h2>
    <p>Here are some links to help you get started:</p> -->
<!-- </section>   -->
